/* src/App.css */
.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comments-list {
  background-color: lightgray;
}

.App {
  margin-top: 20px;
  width: fit-content;
}

.commentContainer {
  margin-top: 6px;
  background-color: #d3d3d3e0;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 300px;
  cursor: pointer;
  border-radius: 5px;
}

.commentContainer:hover {
  background-color: #d3d3d3bf;
}

.inputContainer {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.inputContainer > span {
  margin-top: 5px;
}

.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e7e7e7;
}
.inputContainer__input.error {
  border: 1px solid red;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.first_input {
  margin: 0;
}

.commentContainer > span {
  margin: 0 5px;
}

.reply {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 5px;
  gap: 6px;
  border-radius: 4px;
  color: #4e4e4e;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid;
}
.up-down-img {
  width: .8rem;
  height: .8rem;
}
.comment {
  color: #ffffff;
  background-color: #569dff;
  font-size: 10px;
  line-height: 1.5;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid;
}
